<div id="<%= dom_id persona %>">
  <p>
    <strong>Nombre:</strong>
    <%= persona.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= persona.apellido %>
  </p>

  <p>
    <strong>Fecha de nacimiento:</strong>
    <%= persona.fecha_de_nacimiento %>
  </p>

  <p>
    <strong>Nro dni:</strong>
    <%= persona.nro_dni %>
  </p>

</div>
