<p style="color: green"><%= notice %></p>

<%= render @persona %>

<div>
  <%= link_to "Editar persona", edit_persona_path(@persona) %> |
  <%= link_to "Volver a personas", personas_path %>

  <%= button_to "Eliminar persona", @persona, method: :delete %>
</div>
